
@import '../../node_modules/antd/dist/antd.css';

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.normal {
  font-family: Georgia, sans-serif;
  text-align: left;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #08142b;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.container {
  height: 100%;
}

.leftMenu {
  width: 20%;
  float: left;
  background: #ffffff;
  height: 100%;
}

.content {
  width: 80%;
  height: 100%;
  float: right;
  background: #dedede;
}

.content .dataArea {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  height: 100%;
  background: #ffffff;
}

